<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] "Job Page"</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Food_Delivery.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="row align-items-center justify-content-center">
        <form class="col-2 text-center" method="post">
            <label>Наименование:</label><br />
            <input type="text" name="NM" /><br />
            <label>Цена:</label><br />
            <input type="text" name="TS" /><br /><br />

            <button type="submit" class="btn btn-primary btn-lg" asp-area="" asp-controller="Food" asp-action="Add4">Добавить</button>
        </form>
        <div class="col-2"><img src="~/img/dish.jpg" /></div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
