@model List<Dish>
@{
    int cusId = (int)ViewData["additionalId"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] "Job Page"</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Food_Delivery.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="row row-cols-1 row-cols-md-3 g-4">
       @foreach (var c in Model){
           <div class="col">
            <div class="card text-center box-with-shadow">
                    <div class="text-center">
                        <img src="~/img/foods/@c.Foto" class="card-img-top w-50 h-50" alt="...">
                    </div>
                <div class="card-body">
                    <h5 class="card-title">@c.DishName</h5>
                    <p class="card-text">Цена: @c.DishCost руб.</p>
                </div>
            </div>
           </div>
       } 
    </div>
    <div class="d-flex justify-content-center align-items-center pt-4">
        <button class="btn btn-primary btn-lg"><a class="text-decoration-none text-white" asp-area="" asp-controller="User" asp-action="MyOrder" asp-route-id="@cusId">Мои заказы</a></button>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


