@model List<Dish>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] "Job Page"</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Food_Delivery.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="row row-cols-1 row-cols-md-3 g-4">
       @foreach (var c in Model){
           <div class="col">
            <div class="card text-center">
                    <div class="text-center">
                        <img src="~/img/dish.jpg" class="card-img-top w-50 h-50" alt="...">
                    </div>
                <div class="card-body">
                    <h5 class="card-title">@c.DishName</h5>
                    <p class="card-text">Цена: @c.DishCost руб.</p>
                </div>
            </div>
           </div>
       } 
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


