@model int
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Информация о курьере</h1>
    @if (Model == 0)
    {
        <p>Извините, ваша заявка до сих пор не была проверена администратом.</p>
    } else
    {
        <p>Ваша заявка была проверена администратором, зайдите на учётную запись для дальнейших действий.</p>
    }
</div>
