<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] "Job Page"</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Food_Delivery.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card my-5">
                    <form method="post" class="card-body cardbody-color p-lg-5">

                        <div class="text-center">
                            <img src="~/img/Logo1.png"  width="200px" alt="profile">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="text" name="username" value="@ViewData["Username"]" placeholder="Username or Email" required>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="password" name="passcode" value="" placeholder="Password" required>
                        </div>
                        <p>
                            <label>
                                <input class="custom-control-input" type="checkbox" name="rememberme" value="true" id="rememberme">
                                Запомнить на этом компьютере
                            </label>
                        </p>
                        <div class="text-center"><input class="btn btn-color px-5 mb-5 w-100"type="submit" name="commit" value="Войти" asp-area="" asp-controller="Home" asp-action="Login"></div>
                        <div class="form-text text-center mb-2 text-dark">
                            Нет аккаунта?  <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="Signup">Создайте его!</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


